# Spot the difference

> **For each of the following, state:**
1. What output was intended?
1. Why doesn't the given statement produce the intended output?
1. What would you change to fix the statement?

***
I have `100` sweets in a bowl. I give `10` to James, `13` to Vela, `11` to Malai and `14` to Alex. `31` fall on the floor and the bowl breaks. How many do I have left?

In [2]:
100-10-13-11-14-31

> **Double click to answer here**

***
Compute $3+\sqrt[3]{27}$

In [4]:
3+÷3*27

> **Double click to answer here**

***
Find the Euclidean distance between the points `(3,12)` and `(6,16)`.

In [5]:
((16-12)*2)+((6-3)*2)*0.5

> **Double click to answer here**

***
List the numbers `13` to `27` inclusive.

In [6]:
⍳27-13

> **Double click to answer here**

***
Return 1 when x>3 and x≤7

In [7]:
x←⍳10
x>3∧x≤7

> **Double click to answer here**

***
Sum the salaries of employees in group G

In [8]:
em←3248 3487 4821 3289
sal←32000 33500 41000 33900
G←3487 3289
H←3248 4821
+/em ∊ G / sal

LENGTH ERROR
      +/em∊G/sal
            ∧

> **Double click to answer here**