# Basic array operations
***
## Baby's first [primitives]()

We can define a vector (list) by juxtaposing elements.

In [1]:
vec ← 1 2 3 4 69 420

Certain functions, called *scalar functions*, operate on whole arrays at a time.

In [2]:
+ vec   ⍝ Identity
- vec   ⍝ Negate
× vec   ⍝ Signum
÷ vec   ⍝ Reciprocal

It doesn't seem like monadic *plus* `+` does anything, but eventually you'll learn about its [complex functionality]().

***
## Baby's first [operator]()

Reduction using the *reduce* `/` operator is one of the most common APL constructs. It is just like inserting a [dyadic (infix) function]() in between elements of an array.

In [3]:
1 + 2 + 3 + 4
+/1 2 3 4

In this way, the **sum** and **product** of a list of numbers is given a unified syntax.

|Traditional mathematical notation|APL|
|---|---|
|$\sum_{i=1}^{N}v_i$|+/v|
|$\prod_{i=1}^{N}v_i$|×/v|

In [5]:
+/2 4 6 8
×/2 4 6 8

***
### An unexpected result

Let's look at `-/`. It might not behave the way you think at first...

In [6]:
-/1 2 3 4

Were you expecting `¯8`?

In [9]:
1-+/2 3 4

APL is evaluated from **right to left**. This can be quite confusing for new APLers, so try using *parentheses* `()` to help clarify the [order of operations](Syntax.ipynb#Function-application).

In [8]:
-/1 2 3 4
1 - 2 - 3 - 4
1 - (2 - (3 - 4))

You can also use parentheses to force an order of execution.

In [11]:
((1 - 2) - 3) - 4

***
> ### Task: Spot the difference
For the following, consider:
1. What output was intended?
1. Why doesn't the given statement produce the intended output?
1. What would you change to fix the statement?

I have `100` sweets in a bowl. I give `10` to James, `13` to Vela, `11` to Malai and `14` to Alex. `31` fall on the floor and the bowl breaks. How many do I have left?

In [12]:
100-10-13-11-14-31

Compute $3+\sqrt[3]{27}$

In [13]:
3+÷3*27

Find the [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance#Two_dimensions) between the points `(3,12)` and `(6,16)`.

In [14]:
((16-12)*2)+((6-3)*2)*0.5